Repository FoalTS/foal, pull requests merged in 2019-12, with the labels that each got.

#580 Improve tutorials by using ValidatePathParam
  docs/tutorials/mongodb-todo-list/6-validation-and-sanitization.md
  docs/tutorials/mongodb-todo-list/7-unit-testing.md
  docs/tutorials/simple-todo-list/6-validation-and-sanitization.md
  docs/tutorials/simple-todo-list/7-unit-testing.md
  samples/tutorials/01-simple-todo-list/src/app/controllers/api.controller.ts
  samples/tutorials/02-multi-user-todo-list-mpa/src/app/controllers/api.controller.ts
  samples/tutorials/03-mongodb-todo-list/src/app/controllers/api.controller.ts
Labels: docs

#583 fix an example in the docs
  docs/api-section/openapi-and-swagger-ui.md
Labels: docs

#584 [Social Auth] Improve social errors.
  packages/social/src/abstract-provider.service.spec.ts
  packages/social/src/abstract-provider.service.ts
  packages/social/src/facebook-provider.service.spec.ts
  packages/social/src/facebook-provider.service.ts
  packages/social/src/google-provider.service.spec.ts
  packages/social/src/google-provider.service.ts
Labels: bug, enhancement

#588 Update JSX server side rendering documentation
  docs/frontend-integration/jsx-server-side-rendering.md
  packages/acceptance-tests/src/examples/jsx-server-side-rendering.spec.tsx
  packages/acceptance-tests/templates/index.jsx.html
Labels: docs

#593 [Docs] Remove comments on version 0.8
  docs/api-section/openapi-and-swagger-ui.md
  docs/api-section/public-api-and-cors-requests.md
  docs/api-section/rest-blueprints.md
  docs/architecture/controllers.md
  docs/architecture/hooks.md
  docs/authentication-and-access-control/jwt.md
  docs/authentication-and-access-control/password-management.md
  docs/authentication-and-access-control/quick-start.md
  docs/authentication-and-access-control/session-tokens.md
  docs/cookbook/generate-tokens.md
  docs/cookbook/limit-repeated-requests.md
  docs/databases/generate-and-run-migrations.md
  docs/databases/typeorm.md
  docs/deployment-and-environments/configuration.md
  docs/development-environment/vscode.md
  docs/security/csrf-protection.md
  docs/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/utilities/static-files.md
  docs/utilities/templating.md
  docs/validation-and-sanitization.md
  packages/acceptance-tests/src/examples/cookbook/limit-repeated-requests.spec.ts
Labels: docs

#594 [CLI] Set default CSRF protection for sessions in the configuration
  packages/cli/src/generate/specs/app/config/default.json
  packages/cli/src/generate/specs/app/config/default.mongodb.json
  packages/cli/src/generate/specs/app/config/default.mongodb.yml
  packages/cli/src/generate/specs/app/config/default.yml
  packages/cli/src/generate/templates/app/config/default.json
  packages/cli/src/generate/templates/app/config/default.mongodb.json
  packages/cli/src/generate/templates/app/config/default.mongodb.yml
  packages/cli/src/generate/templates/app/config/default.yml
  packages/core/src/core/http/http-responses.ts
Labels: enhancement, feature

#597 Body parser limit
  docs/SUMMARY.md
  docs/cookbook/request-body-size.md
  packages/core/src/express/create-app.spec.ts
  packages/core/src/express/create-app.ts
Labels: feature

#595 Be able to customize the global exception handler
  docs/SUMMARY.md
  docs/cookbook/error-handling.md
  packages/acceptance-tests/src/error-handling.spec.ts
  packages/core/src/common/utils/500.debug.html
  packages/core/src/common/utils/index.ts
  packages/core/src/common/utils/render-error.util.spec.ts
  packages/core/src/common/utils/render-error.util.ts
  packages/core/src/express/create-app.spec.ts
  packages/core/src/express/create-app.ts
  packages/core/src/express/create-middleware.spec.ts
  packages/core/src/express/create-middleware.ts
  packages/core/src/express/handle-errors.spec.ts
  packages/core/src/express/handle-errors.ts
  packages/core/src/express/send-response.spec.ts
  packages/core/src/express/send-response.ts
Labels: feature

#601 [Docs] Add configuration examples with MySQL and Postgres
  docs/databases/typeorm.md
Labels: docs

#602 Improve documentation on linting
  docs/development-environment/linting-and-code-style.md
  docs/development-environment/open-vscode-settings.png
  docs/development-environment/vscode.md
Labels: docs
