Repository FoalTS/foal, pull requests merged in 2020-11, with the labels that each got.

#820 Add migration guide on session tokens and update tutorials
  docs/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/tutorials/multi-user-todo-list/3-the-shell-scripts.md
  docs/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
  docs/tutorials/simple-todo-list/3-the-todo-model.md
  docs/tutorials/simple-todo-list/4-the-shell-script-create-todo.md
  docs/tutorials/simple-todo-list/5-the-rest-api.md
  docs/tutorials/simple-todo-list/6-validation-and-sanitization.md
  docs/upgrade-to-v2/index.md
  docs/upgrade-to-v2/session-tokens.md
  package.json
  packages/acceptance-tests/package-lock.json
  packages/acceptance-tests/package.json
  packages/aws-s3/package-lock.json
  packages/aws-s3/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/generate/specs/app/package.json
  packages/cli/src/generate/specs/app/package.mongodb.json
  packages/cli/src/generate/specs/app/package.mongodb.yaml.json
  packages/cli/src/generate/specs/app/package.yaml.json
  packages/cli/src/generate/templates/app/package.json
  packages/cli/src/generate/templates/app/package.mongodb.json
  packages/cli/src/generate/templates/app/package.mongodb.yaml.json
  packages/cli/src/generate/templates/app/package.yaml.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/examples/package-lock.json
  packages/examples/package.json
  packages/graphql/package-lock.json
  packages/graphql/package.json
  packages/jwks-rsa/package-lock.json
  packages/jwks-rsa/package.json
  packages/jwt/package-lock.json
  packages/jwt/package.json
  packages/mongodb/package-lock.json
  packages/mongodb/package.json
  packages/password/package-lock.json
  packages/password/package.json
  packages/redis/package-lock.json
  packages/redis/package.json
  packages/social/package-lock.json
  packages/social/package.json
  packages/storage/package-lock.json
  packages/storage/package.json
  packages/swagger/package-lock.json
  packages/swagger/package.json
  packages/typeorm/package-lock.json
  packages/typeorm/package.json
  packages/typestack/package-lock.json
  packages/typestack/package.json
Labels: docs

#823 [V2] Do not save sessions on 500
  docs/upgrade-to-v2/file-upload-and-download.md
  packages/core/src/sessions/use-sessions.hook.spec.ts
  packages/core/src/sessions/use-sessions.hook.ts
Labels: enhancement

#822 fix(SwaggerValidation): Allow hierarchy in paths
  packages/core/src/openapi/create-open-api-document.spec.ts
  packages/core/src/openapi/create-open-api-document.ts
Labels: bug

#830 Update 2nd tutorial to v2
  docs/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
Labels: docs

#831 Fix minor typo
  docs/README.md
Labels: docs

#832 fix little typo lerna url
  .github/CONTRIBUTING.MD
Labels: docs
