Repository FoalTS/foal, pull requests merged in 2020-02, with the labels that each got.

#630 Fix virtual prefix path example
  docs/utilities/static-files.md
Labels: docs

#635 fixes #634 - set todo.ownerId field as nullable in tutorial 02
  docs/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  samples/tutorials/02-multi-user-todo-list-mpa/src/app/entities/todo.entity.ts
  samples/tutorials/02-multi-user-todo-list-mpa/src/migrations/1581664021032-user-and-todo.ts
Labels: docs, enhancement

#642 [Config] Ajv: support the option allErrors
  docs/validation-and-sanitization.md
  packages/core/src/common/utils/get-ajv-instance.spec.ts
  packages/core/src/common/utils/get-ajv-instance.ts
Labels: feature

#644 [Config] Add an option not to log errors
  docs/cookbook/error-handling.md
  docs/utilities/logging-and-debugging.md
  packages/core/src/express/handle-errors.spec.ts
  packages/core/src/express/handle-errors.ts
Labels: feature

#646 Fix TypeORM link
  docs/databases/typeorm.md
Labels: docs

#654 Update groups-and-permissions.md
  docs/authentication-and-access-control/groups-and-permissions.md
Labels: docs

#653 Update 4-the-shell-script-create-todo.md
  docs/tutorials/simple-todo-list/4-the-shell-script-create-todo.md
Labels: docs

#652 Update 3-the-shell-scripts.md
  docs/tutorials/multi-user-todo-list/3-the-shell-scripts.md
Labels: docs
