Repository FoalTS/foal, pull requests merged in 2020-12, with the labels that each got.

#834 fix rest-api deprecations
  .github/CONTRIBUTING.MD
  docs/README.md
  packages/cli/src/generate/specs/rest-api/test-foo-bar.controller.ts
  packages/cli/src/generate/templates/rest-api/controller.ts
Labels: enhancement

#833 Pretiffy the welcome and the "500 error" pages
  packages/cli/src/generate/specs/app/public/index.html
  packages/cli/src/generate/templates/app/public/index.html
  packages/core/src/common/utils/500.debug.html
  packages/core/src/common/utils/render-error.util.spec.ts
  packages/core/src/common/utils/render-error.util.ts
Labels: enhancement, feature

#838 [Docs] Precise docs in frontend integration
  docs/frontend-integration/angular-react-vue.md
Labels: docs

#848 Make CLI exit with code 1 when a command fails.
  e2e_test.sh
  packages/cli/src/index.ts
Labels: enhancement

#850 Update all README
  README.md
  docs/docs/README.md
  docs/docs/images/logo_400.png
  docs/docs/images/release-panel.xcf
  docs/docs/images/screenshot.png
  docs/static/img/logo.svg
  docs/static/img/logo_250.png
  docs/static/img/logo_title.png
  docs/static/img/logo_title.svg
  packages/aws-s3/README.md
  packages/cli/README.md
  packages/core/README.md
  packages/graphql/README.md
  packages/jwks-rsa/README.md
  packages/jwt/README.md
  packages/mongodb/README.md
  packages/password/README.md
  packages/redis/README.md
  packages/social/README.md
  packages/storage/README.md
  packages/swagger/README.md
  packages/typeorm/README.md
  packages/typestack/README.md
Labels: docs

#853 Add docs on validation custom errors and schema references
  docs/docs/common/validation-and-sanitization.md
  packages/acceptance-tests/package-lock.json
  packages/acceptance-tests/package.json
  packages/acceptance-tests/src/docs/common/validation-and-sanitization/referencing-and-reusing-validation-schemas.feature.ts
  packages/acceptance-tests/src/docs/common/validation-and-sanitization/returning-custom-validation-error-messages.feature.ts
  packages/acceptance-tests/typings/ajv-errors/index.d.ts
Labels: docs

#852 [Docs] Update docusaurus dependencies to alpha 70
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Labels: docs, internal

#854 Hide unhelpful sqlite3 warnings when using createapp with npm
  packages/cli/src/generate/generators/app/create-app.ts
Labels: enhancement
