Repository FoalTS/foal, pull requests merged in 2021-04, with the labels that each got.

#902 [Blog] Add what's new in v2 (4/4)
  docs/blog/2021-04-08-whats-new-in-version-2-part-4.md
  docs/blog/assets/whats-new-in-version-2-part-4/banner.png
  docs/static/blog/twitter-banners/whats-new-in-version-2-part-4.png.png
Labels: docs

#899 Feat/support local env files
  docs/docs/deployment-and-environments/configuration.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/deployment-and-environments/configuration.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/deployment-and-environments/configuration.md
  packages/cli/src/generate/specs/app/gitignore
  packages/cli/src/generate/templates/app/gitignore
  packages/core/src/core/config/env.spec.ts
  packages/core/src/core/config/env.ts
Labels: feature

#904 [Docs] Add gRPC example
  docs/docs/api-section/gRPC.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/api-section/gRPC.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/api-section/gRPC.md
  docs/sidebars.js
  packages/acceptance-tests/package-lock.json
  packages/acceptance-tests/package.json
  packages/acceptance-tests/src/docs/api-section/spec.proto
  packages/acceptance-tests/src/docs/api-section/using-grpc-framework.feature.ts
Labels: docs

#905 fix typos in docs/openapi-and-swagger
  docs/docs/api-section/openapi-and-swagger-ui.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/api-section/openapi-and-swagger-ui.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/api-section/openapi-and-swagger-ui.md
Labels: docs

#907 Improve CLI tools for GraphQL and gRPC
  docs/docs/api-section/gRPC.md
  docs/docs/api-section/graphql.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/api-section/gRPC.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/api-section/graphql.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/api-section/gRPC.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/api-section/graphql.md
Labels: docs

#909 Add Prisma docs & allow to access services in fetchUser function
  docs/docs/authentication-and-access-control/session-tokens.md
  docs/docs/databases/using-another-orm.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/session-tokens.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/databases/using-another-orm.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/session-tokens.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/databases/using-another-orm.md
  packages/acceptance-tests/src/docs/databases/using-another-orm/creating-a-custom-fetch-user-function.feature.ts
  packages/cli/src/generate/specs/app/gitignore
  packages/cli/src/generate/templates/app/gitignore
  packages/core/src/index.ts
  packages/core/src/sessions/fetch-user.interface.ts
  packages/core/src/sessions/index.ts
  packages/core/src/sessions/use-sessions.hook.spec.ts
  packages/core/src/sessions/use-sessions.hook.ts
  packages/jwt/src/jwt-optional.hook.ts
  packages/jwt/src/jwt-required.hook.ts
  packages/jwt/src/jwt.hook.spec.ts
  packages/jwt/src/jwt.hook.ts
  packages/typeorm/src/utils/fetch-mongodb-user.util.spec.ts
  packages/typeorm/src/utils/fetch-mongodb-user.util.ts
  packages/typeorm/src/utils/fetch-user-with-permissions.util.spec.ts
  packages/typeorm/src/utils/fetch-user-with-permissions.util.ts
  packages/typeorm/src/utils/fetch-user.util.spec.ts
  packages/typeorm/src/utils/fetch-user.util.ts
Labels: docs, feature

#910 Add "streamToBuffer" and "convertBase64urlToBase64" functions
  docs/blog/version-2.3-release-notes.md
  docs/docs/common/conversions.md
  docs/docs/cookbook/base64url.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/common/conversions.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/cookbook/base64url.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/common/conversions.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/cookbook/base64url.md
  docs/sidebars.js
  packages/aws-s3/src/s3-disk.service.spec.ts
  packages/core/src/common/encoding/convert-base64-to-base64-url.spec.ts
  packages/core/src/common/encoding/convert-base64-to-base64-url.ts
  packages/core/src/common/encoding/convert-base64-url-to-base64.spec.ts
  packages/core/src/common/encoding/convert-base64-url-to-base64.ts
  packages/core/src/common/encoding/index.ts
  packages/core/src/common/index.ts
  packages/core/src/common/tokens/convert-base64-to-base64-url.util.spec.ts
  packages/core/src/common/tokens/generate-token.util.ts
  packages/core/src/common/tokens/index.ts
  packages/core/src/common/tokens/sign-token.util.ts
  packages/core/src/common/utils/index.ts
  packages/core/src/common/utils/stream-to-buffer.spec.ts
  packages/core/src/common/utils/stream-to-buffer.ts
  packages/core/src/index.ts
  packages/graphiql/src/graphiql.controller.spec.ts
  packages/jwt/src/jwt.hook.spec.ts
  packages/storage/src/local-disk.service.spec.ts
  packages/storage/src/validate-multipart-form-data-body.hook.ts
  packages/swagger/src/swagger-controller.spec.ts
Labels: feature

#912 [V1] [Social] Fix state bad URL characters
  .github/workflows/test.yml
  packages/social/src/abstract-provider.service.spec.ts
  packages/social/src/abstract-provider.service.ts
Labels: bug

#911 [V2] [Social] Fix state bad URL characters
  docs/blog/version-2.3-release-notes.md
  packages/social/src/abstract-provider.service.spec.ts
  packages/social/src/abstract-provider.service.ts
Labels: bug

#916 [Docs] Improve social auth documentation
  docs/docs/authentication-and-access-control/groups-and-permissions.md
  docs/docs/authentication-and-access-control/images/auth-architecture.drawio
  docs/docs/authentication-and-access-control/images/auth-architecture.png
  docs/docs/authentication-and-access-control/images/permissions-groups-and-users.png
  docs/docs/authentication-and-access-control/images/permissions-groups-and-users.xml
  docs/docs/authentication-and-access-control/images/social-auth-overview.png
  docs/docs/authentication-and-access-control/images/user-cookie.png
  docs/docs/authentication-and-access-control/quick-start.md
  docs/docs/authentication-and-access-control/session-tokens.md
  docs/docs/authentication-and-access-control/social-auth.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/groups-and-permissions.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/auth-architecture.drawio
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/auth-architecture.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/permissions-groups-and-users.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/permissions-groups-and-users.xml
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/social-auth-overview.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/user-cookie.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/quick-start.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/session-tokens.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/authentication-and-access-control/social-auth.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/groups-and-permissions.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/auth-architecture.drawio
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/auth-architecture.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/permissions-groups-and-users.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/permissions-groups-and-users.xml
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/social-auth-overview.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/images/user-cookie.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/quick-start.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/session-tokens.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/authentication-and-access-control/social-auth.md
  packages/acceptance-tests/package.json
  packages/acceptance-tests/src/docs/authentication-and-access-control/social-auth/adding-social-auth-controllers.feature.ts
  packages/acceptance-tests/src/docs/authentication-and-access-control/social-auth/using-social-auth-with-jwt.feature.ts
  packages/acceptance-tests/src/docs/authentication-and-access-control/social-auth/using-social-auth-with-sessions.feature.ts
Labels: docs
