Repository FoalTS/foal, pull requests merged in 2021-06, with the labels that each got.

#955 [Docs] Translate React tutorial to French
  docs/docs/tutorials/real-world-example-with-react/1-introduction.md
  docs/docs/tutorials/real-world-example-with-react/3-the-models.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/1-introduction.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/2-database-set-up.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/3-the-models.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/1-introduction.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/10-auth-with-react.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/11-sign-up.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/12-file-upload.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/13-csrf.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/14-production-build.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/15-social-auth.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/2-database-set-up.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/3-the-models.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/4-the-shell-scripts.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/5-our-first-route.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/6-swagger-interface.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/7-add-frontend.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/8-authentication.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/9-authenticated-api.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/1-introduction.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/2-database-set-up.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/3-the-models.md
Labels: docs

#956 [Docs] Translate React tutorial to Spanish
  docs/docs/tutorials/real-world-example-with-react/1-introduction.md
  docs/docs/tutorials/real-world-example-with-react/10-auth-with-react.md
  docs/docs/tutorials/real-world-example-with-react/9-authenticated-api.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/1-introduction.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/10-auth-with-react.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/11-sign-up.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/12-file-upload.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/13-csrf.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/14-production-build.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/15-social-auth.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/2-database-set-up.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/3-the-models.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/4-the-shell-scripts.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/5-our-first-route.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/6-swagger-interface.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/7-add-frontend.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/8-authentication.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/9-authenticated-api.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/10-auth-with-react.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/9-authenticated-api.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/1-introduction.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/10-auth-with-react.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/real-world-example-with-react/9-authenticated-api.md
Labels: docs

#960 Update awesome-foal.md
  docs/docs/community/awesome-foal.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/community/awesome-foal.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/community/awesome-foal.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/community/awesome-foal.md
Labels: docs

#965 [Docs] Remove Multi-User tutorial
  docs/docs/testing/e2e-testing.md
  docs/docs/tutorials/multi-user-todo-list/1-Introduction.md
  docs/docs/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/docs/tutorials/multi-user-todo-list/3-the-shell-scripts.md
  docs/docs/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/docs/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/docs/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/docs/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
  docs/docs/tutorials/multi-user-todo-list/e2e_output.png
  docs/docs/tutorials/multi-user-todo-list/signin.png
  docs/docs/tutorials/multi-user-todo-list/signup.png
  docs/docs/tutorials/multi-user-todo-list/todo-list.png
  docs/i18n/es/docusaurus-plugin-content-docs/current.json
  docs/i18n/es/docusaurus-plugin-content-docs/current/testing/e2e-testing.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/1-Introduction.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/3-the-shell-scripts.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/e2e_output.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signin.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signup.png
  docs/i18n/es/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/todo-list.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current.json
  docs/i18n/fr/docusaurus-plugin-content-docs/current/testing/e2e-testing.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/1-Introduction.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/3-the-shell-scripts.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/e2e_output.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signin.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signup.png
  docs/i18n/fr/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/todo-list.png
  docs/i18n/id/docusaurus-plugin-content-docs/current.json
  docs/i18n/id/docusaurus-plugin-content-docs/current/testing/e2e-testing.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/1-Introduction.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/2-the-user-and-todo-models.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/3-the-shell-scripts.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/5-auth-controllers-and-hooks.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/6-todos-and-ownership.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/7-the-signup-page.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/8-e2e-testing-and-authentication.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/e2e_output.png
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signin.png
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/signup.png
  docs/i18n/id/docusaurus-plugin-content-docs/current/tutorials/multi-user-todo-list/todo-list.png
  docs/sidebars.js
Labels: docs

#968 [Website] Update to docusaurus beta.1
  docs/package-lock.json
  docs/package.json
  docs/src/css/custom.scss
  docs/src/theme/BlogPostItem/index.js
  docs/src/theme/BlogPostItem/styles.module.css
  docs/src/theme/TOC/index.js
  docs/src/theme/TOC/styles.module.css
Labels: internal

#970 Support more strict CSP for Swagger page
  docs/blog/version-2.6-release-notes.md
  packages/swagger/package.json
  packages/swagger/src/index.html
  packages/swagger/src/index.no-primary.spec.html
  packages/swagger/src/index.no-primary.ui-options.spec.html
  packages/swagger/src/index.primary.spec.html
  packages/swagger/src/index.tpl.html
  packages/swagger/src/index.url.spec.html
  packages/swagger/src/index.url.ui-options.spec.html
  packages/swagger/src/main.tpl.js
  packages/swagger/src/specs/main.controller.spec.js
  packages/swagger/src/specs/main.no-primary.spec.js
  packages/swagger/src/specs/main.no-primary.ui-options.spec.js
  packages/swagger/src/specs/main.primary.spec.js
  packages/swagger/src/specs/main.url.spec.js
  packages/swagger/src/specs/main.url.ui-options.spec.js
  packages/swagger/src/swagger-controller.spec.ts
  packages/swagger/src/swagger-controller.ts
Labels: enhancement
