Repository FoalTS/foal, pull requests merged in 2022-10, with the labels that each got.

#1154 Make GraphQLController with new version of GraphiQL
  docs/docs/api-section/graphql.md
  packages/graphql/src/graphql.controller.ts
Labels: bug, v3

#1155 Changed max-age of Strict-Transport-Security header
  docs/docs/cookbook/limit-repeated-requests.md
  docs/docs/security/http-headers-protection.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/cookbook/limit-repeated-requests.md
  docs/i18n/es/docusaurus-plugin-content-docs/current/security/http-headers-protection.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/cookbook/limit-repeated-requests.md
  docs/i18n/fr/docusaurus-plugin-content-docs/current/security/http-headers-protection.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/cookbook/limit-repeated-requests.md
  docs/i18n/id/docusaurus-plugin-content-docs/current/security/http-headers-protection.md
  docs/versioned_docs/version-1.x/cookbook/limit-repeated-requests.md
  docs/versioned_docs/version-1.x/security/http-headers-protection.md
  packages/acceptance-tests/src/docs/cookbook/limit-repeated-requests.spec.ts
  packages/core/src/express/create-app.spec.ts
  packages/core/src/express/create-app.ts
Labels: enhancement

#1156 Update TypeORM version and fix peer dependency issue
  packages/acceptance-tests/package-lock.json
  packages/acceptance-tests/package.json
  packages/cli/src/generate/specs/app/package.json
  packages/cli/src/generate/specs/app/package.mongodb.json
  packages/cli/src/generate/specs/app/package.mongodb.yaml.json
  packages/cli/src/generate/specs/app/package.yaml.json
  packages/cli/src/generate/templates/app/package.json
  packages/cli/src/generate/templates/app/package.mongodb.json
  packages/cli/src/generate/templates/app/package.mongodb.yaml.json
  packages/cli/src/generate/templates/app/package.yaml.json
  packages/examples/package-lock.json
  packages/examples/package.json
  packages/typeorm/package-lock.json
  packages/typeorm/package.json
Labels: v3

#1166 Add empty "Who's using Foal?" page
  docs/docusaurus.config.js
  docs/src/pages/who-is-using-foal.jsx
Labels: docs

#1168 [CLI] Support AJV formats in shell scripts
  packages/aws-s3/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/run-script/run-script.spec.ts
  packages/cli/src/run-script/run-script.ts
  packages/core/package-lock.json
  packages/graphiql/package-lock.json
  packages/graphql/package-lock.json
  packages/internal-test/package-lock.json
  packages/jwks-rsa/package-lock.json
  packages/jwt/package-lock.json
  packages/mongodb/package-lock.json
  packages/redis/package-lock.json
  packages/social/package-lock.json
  packages/socket.io/package-lock.json
  packages/storage/package-lock.json
  packages/swagger/package-lock.json
  packages/typestack/package-lock.json
Labels: bug

#1167 Update 4-the-shell-scripts.md
  docs/docs/tutorials/real-world-example-with-react/4-the-shell-scripts.md
Labels: docs

#1170 docs(typos) Fix minor typos in file upload example
  docs/docs/tutorials/real-world-example-with-react/12-file-upload.md
Labels: docs

#1171 docs(update) Fix issue in auth user code example
  docs/docs/tutorials/real-world-example-with-react/9-authenticated-api.md
Labels: docs
